## Data visualization with Plot

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
# Define some values
infos = [['Kesnel','Samuel','25','Delmas','Lycee Haiti',3.34,7.11,3.34],
    ['Jhonny','Klay','18','PV','College prive',5.01,6.23,6.34],
    ['Weezy','Peter','67','NYC','High School Levis',7.03,3.45,8.31],
    ['Sabine','Jean-Philippe','12','Delmas','Lycee Jean Paul',5.74,4.53,7.63],
    ['Herold','Samuel','25','Jacmel','School of zone',9.32,4.12,8.53],
    ['Julie','Cesar','11','Cap Haitian','College Catts Jean',6.34,7.21,9.92],
    ['Ketty','Mars','34','Canada','College of Ottawa',2.34,5.23,4.65],
    ['Tony','Griffin','18','New Jersey','High private School',5.67,3.42,3.67],
    ['David','Dobrik','26','Las vegas','Private learning center',2.45,9.87,5.43],
    ['Liza','Koshy','24','California','Beverly community of school',8.34,3.4]]

col = ['Nom','Prenom','Age','Localisation','School','Note 1','Note 2','Note 3']

In [4]:
# Making the DataFrame
df = pd.DataFrame(data=infos, columns=col)
df

,Nom,Prenom,Age,Localisation,School,Note 1,Note 2,Note 3
0,Kesnel,Samuel,25,Delmas,Lycee Haiti,3.34,7.11,3.34
1,Jhonny,Klay,18,PV,College prive,5.01,6.23,6.34
2,Weezy,Peter,67,NYC,High School Levis,7.03,3.45,8.31
3,Sabine,Jean-Philippe,12,Delmas,Lycee Jean Paul,5.74,4.53,7.63
4,Herold,Samuel,25,Jacmel,School of zone,9.32,4.12,8.53
5,Julie,Cesar,11,Cap Haitian,College Catts Jean,6.34,7.21,9.92
6,Ketty,Mars,34,Canada,College of Ottawa,2.34,5.23,4.65
7,Tony,Griffin,18,New Jersey,High private School,5.67,3.42,3.67
8,David,Dobrik,26,Las vegas,Private learning center,2.45,9.87,5.43
9,Liza,Koshy,24,California,Beverly community of school,8.34,3.40,NaN

In [6]:
# Export the Dataframe as Csv file
df.to_csv('data/school_dataframe.csv')